@use "../presets" as *;
@use "../mixins" as *;

.art {
  position: relative;


  &__decor-right {
    position: relative;
    right: 0;

    display: block;

    margin-left: auto;

    @include xl {
      height: 275px;
    }
  }

  &__decor-box {
    position: relative;
    z-index: 1;
    top: 255px;

    margin-top: -150px;

    @include xl {
      top: 170px;
    }
    @include md {
      top: 50px;

      margin-top: 0;
    }
    &:after {
      position: relative; //TODO пересмотреть линию
      bottom: 140px;
      left: 200px;

      display: block;

      width: 70%;
      height: 1px;

      content: "";

      background-color: $color-white;

      @include xl-min {
        bottom: 227px;
      }
      @include md {
        display: none;
      }
    }
  }

  &__decor-title-box {
    margin-bottom: 65px;

    @include lg {
      margin-bottom: 30px;
    }
  }

  &__title {
    z-index: 1;

    display: inline-block;

    width: 80%;
  }

  &__box {
    position: relative;

    display: grid;
    justify-content: space-between;

    margin-bottom: 140px;

    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    @include lg {
      margin-bottom: 95px;

      grid-template-columns: repeat(2, 1fr);
    }
    @include md {
      gap: 20px;
    }
    @include xs {
      gap: 10px;
    }
  }

  &__img-box {
    position: relative;

    display: flex;
    justify-content: space-between;

    padding: 25px;

    @include md {
      padding: 15px;
    }
    @include xs {
      padding: 10px;
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";

      border-radius: 20px;
      background: linear-gradient(
      180deg,
      #cacaca 0%,
      rgba(255, 255, 255, 0) 100%
      );
      box-shadow: 0 28px 23px 11px rgba(0, 0, 0, 0.15);

      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
      mix-blend-mode: multiply;
    }
  }

  &__img {
    position: relative;
    z-index: 1;

    width: 100%;

    border-radius: 20px;
  }
}
