@use "../presets" as *;
@use "../mixins" as *;

.benefits {
  &__decor-right {
    position: relative;
    z-index: 1;
    top: -90px;
    right: -170px;

    display: block;

    margin-left: auto;

    @include xl {
      max-width: 550px;
    }
    @include md {
      top: -75px;
      right: -100px;

      max-width: 400px;
      margin-bottom: 45px;
    }
  }
  // position: relative; //TODO Сделал benefits но хвоты по border
  // &::before {
  //   content: "";
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   background-image: url(../img/decor-spiral-right-lg.png);
  //   position: absolute;
  &__decor-title-box {
    position: relative;
    margin-bottom: 60px;
    z-index: 1;

    @include md-min {
      padding-left: 40px;
    }
    @include md {
      margin-bottom: 30px;
    }

    // &::after {
    //   position: absolute;
    //   content: "";
    //   border-top: 1px solid white;
    //   width: 70%;
    //   left: 438px;
    //   right: 0;
    //   top: 27px;
    //   bottom: 0;
    // }
  }

  &__item-box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    margin-bottom: 100px;

    gap: 30px;
    @include md {
      padding-top: 40px;

      border-top: 1px solid $color-white;
    }
  }

  &__item {
    flex: 1;
    flex-basis: 350px;
  }
}
