@use "../presets" as *;
@use "../mixins" as *;

.benefits {
  &__decor-title-box {
    position: relative;
    margin-bottom: 60px;

    @include md {
      margin-bottom: 30px;
    }

    // &::after {
    //   position: absolute;
    //   content: "";
    //   border-top: 1px solid white;
    //   width: 70%;
    //   left: 438px;
    //   right: 0;
    //   top: 27px;
    //   bottom: 0;
    // }
  }

  &__decor {
  }

  &__title {
  }

  &__item-box {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;

    @include md {
      border-top: 1px solid $color-white;
      padding-top: 40px;
    }
  }

  &__item {
    flex: 1;
    flex-basis: 350px;
  }
}
