@use "../presets" as *;
@use "../mixins" as *;

.features {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: soft-light;
    opacity: 0.25;
    box-shadow: 0px 4px 23px 11px rgba(0, 0, 0, 0.5);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  &__decor-title-box {
    position: relative;
    margin-bottom: 70px;

    @include md {
      margin-bottom: 30px;
    }
  }

  &__slider {
    margin-left: auto;
    margin-right: 10px;
  }

  &__decor-title-box {
    display: flex;
    gap: 35px;
    z-index: 1;
    position: relative;

    @include md-min {
      padding-left: 30px;
      padding-top: 135px;
    }

    span {
      font-weight: 700;
    }

    @include md {
      flex-direction: column;
      gap: 20px;
      text-align: center;
      margin-bottom: 50px;
      padding-top: 60px;
      align-items: center;
    }
  }

  &__decor {
    max-width: 26px;
    @include sm {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.01em;
    color: $color-accent;

    @include xx-min {
      max-width: 300px;
    }

    @include md {
      font-size: 30px;
    }
  }

  &__item-box {
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    align-items: flex-start;

    @include md {
      border-top: 1px solid $color-white;
      padding-top: 40px;
      margin-bottom: 30px;
    }
  }

  &__item {
    flex: 1;
    flex-basis: 350px;
  }

  &__item-box-second {
    @include md-min {
      display: none;
    }
    @include md {
      display: flex;
    }
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 100px;
    align-items: flex-start;
  }

  &__decor-main {
    position: relative;
    right: -55%;
    top: -280px;
    z-index: 1;

    @include xx {
      right: -45%;
    }
  }
}
