@use "../presets" as *;
@use "../mixins" as *;

.map {
  &__decor-box {
    position: relative;
    z-index: 1;
    top: 20px;

    margin-bottom: 120px;

    @include md {
      margin-bottom: 100px;
    }
    @include sm {
      bottom: -20px;
    }
  }

  &__decor-left {
    @include sm {
      height: 100px;
    }
  }

  &__decor-title-box {
    position: relative;
    z-index: 1;

    margin-bottom: 60px;

    @include ul {
      display: flex;
      justify-content: center;
    }
    @include ul-min {
      padding-left: 40px;
    }
  }

  &__item-first-wrap {
    display: flex;
    justify-content: start;

    margin-bottom: 55px;

    gap: 180px;
    @include ul {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      gap: 60px;
    }
  }

  &__item-second-wrap {
    display: flex;
    justify-content: end;

    margin-bottom: 300px;

    gap: 180px;
    @include xl {
      margin-bottom: 185px;
    }
    @include ul {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      gap: 60px;
    }
  }
}
