@use "../presets" as *;
@use "../mixins" as *;

.map {
  &__decor-box {
    margin-bottom: 120px;
    position: relative;
    z-index: 1;
    @include md {
      margin-bottom: 80px;
    }
  }

  &__decor-left {
    @include md {
      width: 70%;
    }
  }

  &__decor-title-box {
    margin-bottom: 60px;
  }

  &__decor {
  }

  &__title {
    z-index: 1;
  }

  &__item-first-wrap {
    display: flex;
    margin-bottom: 55px;
    gap: 180px;
    justify-content: start;

    @include sm {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;
    }
  }

  &__item {
  }

  &__item-second-wrap {
    display: flex;
    gap: 180px;
    justify-content: end;

    @include sm {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 60px;
    }
  }
}
