@use "../presets" as *;
@use "../mixins" as *;

.tokenomics {
  &__wrap {
    position: relative;

    margin-bottom: 100px;
    padding: 50px 50px 30px 40px;

    @include lg {
      padding: 40px 20px 20px 20px;
    }
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";

      border-radius: 20px;
      background: linear-gradient(
        180deg,
        #cacaca 0%,
        rgba(255, 255, 255, 0) 100%
      );
      box-shadow: 0 28px 23px 11px rgba(0, 0, 0, 0.15);

      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
      mix-blend-mode: multiply;
    }
  }
  &__box {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;

    gap: 40px;
    @include lg {
      align-items: center;
      flex-direction: column;
    }
  }
  &__decor-border {
    @include lg-min {
      width: 100%;
      height: 1px;
      background: $color-white;
    }
  }

  &__decor-title-box {
    position: relative;
    z-index: 1;

    margin-bottom: 30px;

    @include lg {
      flex-direction: column;

      margin-left: 0;
    }
  }

  &__decor {
    padding-left: 0;
  }

  &__info-box {
    padding-top: 20px;
    padding-bottom: 20px;

    @include lg-min {
      margin-left: 10px;
      padding-left: 50px;

      border-left: 1px solid white;
    }
    @include lg {
      margin-bottom: 30px;
      padding-top: 50px;

      text-align: center;

      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
    }
    @include md {
      margin-bottom: 0;
      padding-top: 35px;
    }
  }

  &__slider {
    justify-content: center;
  }

  &__slider-wrap {
    display: flex;

    margin-bottom: 30px;

    @include lg {
      justify-content: center;
    }
    @include lg {
      // flex-direction: column;
      // position: relative;
      // &::after {
      //   position: absolute;
      //   content: "";
      //   left: 0;
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      //   background-image: url(../img/button-right-alt.svg);
      //   background-repeat: no-repeat;
      // }

      // &::before {
      //   position: absolute;
      //   content: "";
      //   left: -50px;
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      //   background-image: url(../img/button-left-alt.svg);
      //   background-repeat: no-repeat;
      // }
    }
  }

  &__slider-button-wrap {
    @include lg-min {
      display: none; //TODO пересмотреть реализацию блока
    }
  }
  &__slider-button {
    order: 1;

    @include lg-min {
    }
    @include lg {
    }

    &--alt {
      order: 0;

      transform: rotate(-180deg);

      @include lg-min {
      }
    }
    &.active {
      opacity: 0.2;
    }
  }

  &__slider-img {
    padding: 0 40px;

    @include sm {
      max-width: 85%;
      padding: 0 20px;
    }
    @include xs {
      max-width: 80%;
      padding: 0 10px;
    }
  }

  &__footer-text {
    max-width: 190px;
    margin-right: auto;
    margin-left: auto;
    /* or 112% */

    text-align: center;

    color: #ffffff;

    font-size: 24px;
    font-weight: 400;
    line-height: 27px;

    @include lg {
      margin-bottom: 40px;
    }

    span {
      font-weight: 700;
    }
  }
}

.info-box-tokenomics {
  width: 100%;

  @include md {
  }

  &__title {
    color: #ffffff;

    font-size: 24px;
    font-weight: 500;
    line-height: 27px;

    @include md-min {
      margin-bottom: 10px;
    }
    @include md {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__desc {
    margin-bottom: 70px;

    color: #ffffff;

    font-size: 36px;
    font-weight: 700;
    line-height: 40px;

    @include md {
      margin-bottom: 40px;

      font-size: 24px;
      font-weight: 500;
    }
  }

  &__title--alt {
    margin-top: 80px;

    color: #ffffff;

    font-size: 65px;
    font-weight: 700;
    line-height: 48px;

    @include md-min {
      margin-bottom: 20px;
    }
    @include md {
      margin-top: 30px;

      font-size: 36px;
      line-height: 48px;
    }
  }

  &__text {
    max-width: 400px;

    color: #ffffff;

    font-size: 24px;
    line-height: 27px;

    @include lg {
      margin-right: auto;
      margin-bottom: 50px;
      margin-left: auto;
    }
    @include md {
      max-width: 270px;
      margin-bottom: 20px;

      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
    }
    span {
      font-weight: 700;
    }
  }
}
