@use "../presets" as *;
@use "../mixins" as *;

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 75px;

  border-radius: 70px;
  background: $color-white;

  gap: $gap;

  @include xl {
    padding: 0px 50px;
  }

  @include md {
    padding: 15px 35px 15px 50px;
    height: 65px;
  }

  &__logo {
    max-height: 30px;
  }

  &__social {
    @include lg {
      display: none;
    }
  }
}
