@use '../presets' as *;
@use '../mixins' as *;

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 75px;

  border-radius: 70px;
  background: $color-white;

  gap: $gap;
  @include xl {
    padding: 0 50px;
  }
  @include md {
    height: 65px;
    padding: 15px 35px 15px 50px;
  }

  &__logo {
    max-height: 30px;
  }

  &__social {
    @include lg {
      display: none;
    }
  }
}
