@use '../presets' as *;
@use '../mixins' as *;

.header {
  position: relative;

  padding-top: 54px;
  overflow-x: hidden;

  @include sm {
    padding-top: 20px;
  }
  &::after {
    position: absolute;
    top: 767px;
    right: 0;
    bottom: -30%;

    content: '';

    background: url(../img/decor-right.png);
    background-repeat: no-repeat;

    @include lg {
      display: none;
    }
    mix-blend-mode: multiply;

    @media (min-width: 1540.8px) {
      left: 70%;
    }

    @media (max-width: 1540.8px) {
      left: 57%;
    }
  }

  &::before {
    position: absolute;
    top: 715px;
    right: 0;
    bottom: 0;
    left: -200px;

    content: '';

    background: url(../img/decor-left.png);
    background-repeat: no-repeat;

    @include lg {
      display: none;
    }
    mix-blend-mode: multiply;
  }

  &__actions {
    margin-bottom: 240px;

    @include lg {
      margin-bottom: 150px;
    }
    @include sm {
      margin-bottom: 100px;
    }
  }

  &__title {
    position: relative;

    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: $color-accent;

    font-size: 150px;

    @include lg {
      font-size: 100px;
    }
    @include md {
      font-size: 80px;
      line-height: 28px;
    }
    @include sm {
      font-size: 50px;
      line-height: 0;
    }
  }

  &__title-desc {
    margin-bottom: 50px;

    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: $color-accent;

    font-size: $font-size-48;
    font-weight: 400;
    line-height: 48px;

    @include md {
      font-size: $font-size-32;
    }
    @include sm {
      margin-bottom: 30px;

      font-size: $font-size-24;
      line-height: 48px;
    }

    span {
      font-weight: $font-weight-700;
    }
  }

  &__decor-sm {
    display: flex;
    justify-content: center;

    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;

    @include sm {
      margin-bottom: 40px;
    }
  }

  &__button {
    display: flex;

    margin-right: auto;
    margin-bottom: 440px;
    margin-left: auto;

    @include lg {
      margin-bottom: 350px;
    }
    @include md {
      margin-bottom: 184px;
    }
  }

  &__info-rating {
    margin-bottom: 160px;

    @include md {
      margin-bottom: 100px;
    }
  }
}
