@use "../presets" as *;
@use "../mixins" as *;

.header {
  padding-top: 54px;
  position: relative;
  // overflow-x: hidden;

  // &::after {
  //   //TODO пресмотреть позиции декора
  //   content: "";
  //   position: absolute;
  //   background: url(../img/decor-right.png);
  //   background-repeat: no-repeat;
  //   top: 38.5%;
  //   left: 59%;
  //   right: 0;
  //   bottom: -20%;
  //   // width: 100vw;
  //   mix-blend-mode: multiply;
  // }

  @include sm {
    padding-top: 20px;
  }

  &__decor-left {
    position: absolute;
    top: 715px;
    // left: -190px;
    left: -12%;
    mix-blend-mode: multiply;

    @include ul {
      left: -20%;
    }

    @include xl {
      left: -25%;
    }

    @include lg {
      display: none;
    }
  }
  &__decor-right {
    display: none;

    position: absolute;
    // overflow-x: hidden;
    // top: 43%;
    top: 765px;
    // right: -165px;
    right: -145px;

    mix-blend-mode: multiply;
    @include lg {
      display: none;
    }
  }

  &__actions {
    margin-bottom: 240px;

    @include lg {
      margin-bottom: 150px;
    }

    @include sm {
      margin-bottom: 100px;
    }
  }

  &__title {
    text-align: center;
    font-size: 150px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $color-accent;

    @include lg {
      font-size: 100px;
    }

    @include md {
      font-size: 80px;
      line-height: 28px;
    }

    @include sm {
      font-size: 50px;
      line-height: 0px;
    }
  }

  &__title-desc {
    font-size: $font-size-48;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: $color-accent;
    margin-bottom: 50px;
    font-weight: 400;

    span {
      font-weight: $font-weight-700;
    }

    @include md {
      font-size: $font-size-32;
    }

    @include sm {
      font-size: $font-size-24;
      line-height: 48px;
      margin-bottom: 30px;
    }
  }

  &__decor-sm {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;

    @include sm {
      margin-bottom: 40px;
    }
  }

  &__button {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    margin-bottom: 440px;

    @include lg {
      margin-bottom: 350px;
    }

    @include md {
      margin-bottom: 184px;
    }
  }

  &__info {
  }
}
.layout {
  &__main {
  }
}
