@use "../presets" as *;
@use "../mixins" as *;

.rating {
  position: relative;

  margin-bottom: 160px;

  @include md {
    margin-bottom: 100px;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    border-radius: 20px;
    background: linear-gradient(
    180deg,
    #cacaca 0%,
    rgba(255, 255, 255, 0) 100%
    );
    box-shadow: 0 28px 23px 11px rgba(0, 0, 0, 0.15);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    mix-blend-mode: multiply;
  }

  &__header {
    position: relative;
    z-index: 1;

    display: grid;
    align-items: center;

    min-height: 220px;
    padding: 30px 40px;

    gap: 55px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include xl-min {
      gap: 60px;
    }
    @include xl {
      gap: 40px 200px;
      grid-template-columns: 1fr 1fr;
    }
    @include md {
      gap: 40px;
    }
    @include md {
      padding-top: 60px;
      padding-bottom: 60px;

      grid-template-columns: 1fr;
    }

    &::before {
      position: absolute;
      top: -126%;
      right: 0;
      bottom: 0;
      left: 0;

      content: "";

      background: url(../img/decor-spiral.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @include xl {
        top: -120%;

        background-size: 270px;
      }
      @include lg {
        top: -110%;

        background-size: 150px;
      }
      @include md {
        top: -103%;

        // background-size: 100px;
      }
    }
  }

  &__decor-box {
    display: flex;

    gap: 35px;
    @include xl {
      gap: 25px;
    }
    @include md {
      align-items: center;
      flex-direction: column;

      margin-bottom: 45px;

      text-align: center;

      gap: 20px;
    }
    // max-width: 170px;

    span {
      font-weight: 400;
    }
  }
  &__decor {
    max-width: 26px;

    @include md {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__title {
    max-width: 170px;

    letter-spacing: -0.01em;

    color: $color-accent;

    font-size: $font-size-32;
    line-height: 38px;
  }



  &__footer {
    position: relative;
    z-index: 1;

    display: flex;

    padding: 56px 100px;

    border-radius: 0 0 20px 20px;
    background: $color-white;

    gap: 72px;
    @include xl {
      padding: 56px 40px;
    }
    @include xl {
      gap: 40px;
    }
    @include md {
      flex-direction: column;
    }
    @include xs {
      padding: 20px;
    }
    mix-blend-mode: normal;
  }

  &__footer-decor {
    @include md {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__footer-desc {
    flex: 1;

    text-align: justify;
    letter-spacing: -0.01em;

    color: $color-main;

    font-size: $font-size-20;
    font-weight: $font-weight-500;
    line-height: 38px;

    @include xs {
      font-size: $font-size-14;
      line-height: 30px;
    }
    span {
      font-weight: 700; //TODO пресмотреть толщину шрифтов
    }
  }
}
