@use "../presets" as *;
@use "../mixins" as *;

.rating {
  position: relative;
  margin-bottom: 70px;

  &::after {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(
      180deg,
      #cacaca 0%,
      rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: multiply;
    box-shadow: 0px 28px 23px 11px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
  }

  &__header {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    align-items: center;
    padding: 30px 40px;
    min-height: 220px;

    @include xl-min {
      gap: 60px;
    }

    @include xl {
      grid-template-columns: 1fr 1fr;
      row-gap: 40px;
    }

    @include sm {
      grid-template-columns: 1fr;
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &::before {
      position: absolute;
      content: "";
      top: -126%;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../img/decor-spiral.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;

      @include xl {
        top: -120%;
        background-size: 270px;
      }

      @include lg {
        top: -110%;
        background-size: 150px;
      }

      @include sm {
        top: -103%;

        // background-size: 100px;
      }
    }
  }

  &__decor-box {
    display: flex;
    gap: 35px;
    // max-width: 170px;

    span {
      font-weight: 400;
    }

    @include sm {
      flex-direction: column;
      gap: 20px;
      text-align: center;
      margin-bottom: 45px;
      align-items: center;
    }
  }
  &__decor {
    max-width: 26px;
    @include sm {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__title {
    font-size: $font-size-32;
    line-height: 38px;
    letter-spacing: -0.01em;
    color: $color-accent;
    max-width: 170px;
  }

  &__item {
  }

  &__footer {
    position: relative;
    z-index: 1;
    display: flex;
    background: $color-white;
    mix-blend-mode: normal;
    border-radius: 0px 0px 20px 20px;
    gap: 72px;
    padding: 56px 100px;

    @include xl {
      padding: 56px 40px;
    }

    @include xl {
      gap: 40px;
    }
    @include md {
      flex-direction: column;
    }

    @include xs {
      padding: 20px;
    }
  }

  &__footer-decor {
    @include md {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__footer-desc {
    font-weight: $font-weight-500;
    font-size: $font-size-20;
    line-height: 38px;
    text-align: justify;
    letter-spacing: -0.01em;

    color: $color-main;
    flex: 1;
    span {
      font-weight: 700; //TODO пресмотреть толщину шрифтов
    }

    @include xs {
      font-size: $font-size-14;
      line-height: 30px;
    }
  }
}
