@use "../presets" as *;
@use "../mixins" as *;

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 244.25px;
  height: 45px;

  cursor: pointer; //TODO не работает курсор?

  color: $color-black;
  border: none;
  border-radius: 32px;
  background: #908ab1;

  font-weight: $font-weight-700;
  line-height: 16px;

  &--alt {
    background: $color-white;
  }
}
