@use "../presets" as *;
@use "../mixins" as *;

.decor-title-box {
  display: flex;

  @include lg {
    flex-direction: column;
  }

  &__title {
    font-weight: $font-weight-700;
    font-size: $font-size-36;
    line-height: 48px;
    color: $color-white;
    @include lg {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      justify-content: center;
      margin-bottom: 0px;
    }
  }

  &__img {
    position: relative; //TODO пересмотреть классы переисполуземых блоков
    z-index: 1;
    margin-right: 35px;
    padding-left: 40px;

    @include lg {
      display: flex;
      margin-right: auto;
      margin-left: auto;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
}
