@use "../presets" as *;
@use "../mixins" as *;

.decor-title-box {
  display: flex;

  @include lg {
    flex-direction: column;
  }

  &__title {
    color: $color-white;

    font-size: $font-size-36;
    font-weight: $font-weight-700;
    line-height: 48px;

    @include lg {
      display: flex;
      justify-content: center;

      width: 100%;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;

      font-weight: 500;
    }
  }

  &__img {
    position: relative; //TODO пересмотреть классы переисполуземых блоков
    z-index: 1;

    margin-right: 35px;
    padding-left: 30px;

    @include lg {
      display: flex;

      margin-right: auto;
      margin-bottom: 20px;
      margin-left: auto;
      padding-left: 0;
    }
  }
}
