@use "../presets" as *;
@use "../mixins" as *;

.decor-title-box {
  display: flex;
  gap: 35px;
  align-items: center;

  &--alt {
    @include xl {
      gap: 20px;
    }
  }

  @include md {
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    display: flex;
    flex-direction: column;

    color: $color-white;

    font-size: $font-size-36;
    font-weight: $font-weight-700;
    line-height: 48px;

    span {
      font-weight: 400;
    }
    @include lg {
      display: flex;
      justify-content: center;
      flex-direction: column;

      // margin-right: auto;
      margin-bottom: 0;
      // margin-left: auto;

      // font-weight: 500;
    }

    @include md {
      text-align: center;
    }
  }

  &__img {
    // position: relative; //TODO пересмотреть классы переисполуземых блоков
    // z-index: 1;

    // margin-right: 35px;

    @include lg {
      // display: flex;

      // margin-right: auto;
      // margin-left: auto;
      // padding-left: 0;
    }
  }
}
