@use "../presets" as *;
@use "../mixins" as *;

.decor-footer {
  position: relative;
  &::after {
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    opacity: 0.25;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0 4px 23px 11px rgba(0, 0, 0, 0.5);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    mix-blend-mode: soft-light;
  }
}
