@use "../presets" as *;
@use "../mixins" as *;

.item-rating {
  display: flex;

  gap: 20px;
  @include md {
    align-items: center;
    flex-direction: column;
  }
  &__img {
    max-width: 35px;
    max-height: 35px;
  }

  &__text {
    display: flex;
    flex-direction: column;

    @include md {
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 10px;

    color: $color-accent;

    font-size: $font-size-32;
    font-weight: $font-weight-500;
    line-height: 30px;
  }

  &__desc {
    color: $color-accent;

    font-size: 20px;
  }
}
