@use "../presets" as *;
@use "../mixins" as *;

.item-benefits {
  position: relative;
  &::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
      180deg,
      #cacaca 0%,
      rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: multiply; /* Backshadow

for containers
*/
    box-shadow: 0px 28px 23px 11px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
  }
  &__title-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 45px;
    align-items: center;
  }

  &__title {
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: 30px;
    color: $color-white;
    z-index: 1;
  }

  &__img {
    z-index: 1;
  }

  &__desc {
    padding: 30px 45px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.01em;
    color: $color-main;
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 0px 0px 20px 20px;
    min-height: 185px;
    position: relative;
    text-align: justify;

    z-index: 1;
  }
}
