@use "../presets" as *;
@use "../mixins" as *;
//TODO доделать адаптив
.item-map {
  width: 300px;
  height: 126px;
  display: flex;

  border-radius: 20px;
  position: relative;

  // &:nth-child(2) {
  //   &::before {
  //     background-image: url(../img/connector-sm.svg);
  //     background-repeat: no-repeat;
  //     content: "";
  //     left: 155px;
  //     right: 0;
  //     top: -65px;
  //     bottom: 0;

  //     position: absolute;
  //   }
  // }
  // &:nth-child(3) {
  //   &::before {
  //     background-image: url(../img/connector-sm.svg);
  //     background-repeat: no-repeat;
  //     content: "";
  //     left: 155px;
  //     right: 0;
  //     top: -65px;
  //     bottom: 0;

  //     position: absolute;
  //   }
  // }

  &::after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(
      180deg,
      #cacaca 0%,
      rgba(255, 255, 255, 0) 100%
    );
    mix-blend-mode: multiply;
    box-shadow: 0px 28px 23px 11px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
  }

  &__connector {
    top: 122px;
    right: 77px;
    position: absolute;

    @include md {
      display: none;
    }

    &--second {
      right: 166px;
      @include md {
        display: none;
      }
    }

    &--first {
      top: -130px;
      left: 76px;
      @include md {
        display: none;
      }
    }
  }

  &__connector-sm {
    position: relative;
    bottom: -93px;
    left: 160px;
    @include md-min {
      display: none;
    }
    @include md {
      display: block;
    }
  }

  &__img-box {
    z-index: 1;
    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 20px 0px 0px 20px;
    height: 126px;
    width: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  &__img {
  }

  &__text-box {
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: $font-size-24;
    line-height: 30px;
    color: $color-white;
  }

  &__desc {
    font-weight: 400;
    font-size: $font-size-20;
    line-height: 30px;
    color: $color-white;
  }
}
