@use "../presets" as *;
@use "../mixins" as *;

.item-benefits {
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    border-radius: 20px;
    background: linear-gradient(180deg,
        #cacaca 0%,
        rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 28px 23px 11px rgba(0, 0, 0, 0.15);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    // mix-blend-mode: multiply;
    opacity: 0.1;
  }

  &__title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;

    @include md {
      padding: 20px;
    }
  }

  &__title {
    z-index: 1;

    color: $color-white;

    font-size: $font-size-24;
    font-weight: $font-weight-700;
    line-height: 30px;

    @include md {
      font-size: $font-size-20;
      line-height: 30px;
    }
  }

  &__img {
    z-index: 1;
  }

  &__desc {
    position: relative;
    z-index: 1;

    min-height: 185px;
    padding: 30px;

    text-align: justify;
    letter-spacing: -0.01em;

    color: $color-main;
    border-radius: 0 0 20px 20px;
    background: #ffffff;

    font-weight: 500;
    line-height: 30px;

    @include md {
      min-height: 125px;
      padding: 20px;
    }

    mix-blend-mode: normal;
  }
}