@use "../presets" as *;
@use "../mixins" as *;

.slider {
  display: none;

  user-select: none;

  &.active {
    display: flex;
  }

  &__indicators {
    display: flex;
    justify-content: center;

    gap: 25px;
  }

  &__indicator {
    width: 40px;
    height: 40px;

    transition: 0.2s linear;

    border-radius: 20px;
    background-image: url(../img/button-right.svg);
    background-position: 50% 50%;

    @include md {
      display: none;
    }

    &.active {
      opacity: 0.25;
    }

    &--left {
      transform: rotate(180deg);
    }
  }
}
