@use '../presets' as *;
@use '../mixins' as *;

.slider {
  user-select: none;

  &.active {
    display: flex;
  }

  &__indicators {
    display: flex;
    justify-content: center;

    gap: 25px;
  }

  &__indicator {
    width: 40px;
    height: 40px;

    transition: 0.2s linear;
    opacity: 0.25;

    border-radius: 20px;
    background-image: url(../img/button-right.svg);
    background-position: 50% 50%;

    @include md {
    }

    &.active {
      opacity: 1;
    }

    &--left {
      transform: rotate(180deg);
    }
  }
}

.slider-alt {
  user-select: none;

  &__indicator-alt {
    transition: 0.2s linear;

    @include md {
    }

    &.active {
      opacity: 1;
    }

    &.active-alt {
      opacity: 1;
    }
    &--left {
      transform: rotate(180deg);
    }
  }
}

.swiper {
  width: 600px;
  min-height: 450px;
  margin-left: 0;
  margin-right: 0;

  @include md {
    width: 100%;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  position: relative;

  @include sm {
    display: inline-block;
  }
}

.swiper-button-next {
  @include sm {
    position: fixed;
    top: 0;
    right: 50%;
    transform: translateX(130%);
  }
}

.swiper-button-prev {
  @include sm {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-130%);
  }
}
