@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size-16;
  font-weight: 400;
  font-style: normal;
}

.body {
  // overflow-x: hidden;
  position: relative;

  &::after {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: "";

    background: linear-gradient(185.23deg,
    #52146f -15%,
    #10127b 32.04%,
    #52146f 66.06%,
    #19198d 88.16%);
    background-repeat: no-repeat;
  }
}



.lock {
  overflow: hidden;
}

a {
  text-decoration: none;

  color: $color-black;
}
