@use "../presets" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size-16;
  font-weight: 400;
  font-style: normal;
  // overflow-x: hidden; //можно ли так делать?
}

.body {
  overflow-x: hidden;

  background: linear-gradient(
    197.23deg,
    #371c48 3.55%,
    #10107b 32.04%,
    #52146f 66.06%,
    #19198d 88.16%
  );
  min-height: 100%; //TODO изменить высоту

  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: $color-black;
}
