@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: $font-size-16;
  font-weight: 400;
  font-style: normal;
  // overflow-x: hidden; //можно ли так делать?
}

.body {
  overflow-x: hidden;

  position: relative;

  &::after {
    position: fixed;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: linear-gradient(
      185.23deg,
      #52146f -15%,
      #10127b 32.04%,
      #52146f 66.06%,
      #19198d 88.16%
    );
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.page {
  position: relative;
  &::after {
    @media (min-width: 1900px) {
      background-size: cover;
      background-position: 50% 25%;
    }

    @include lg-min {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-image: url(../img/background-main-decor.png);
      background-position: 50% 120%;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;
      z-index: 0;
    }
  }
}

a {
  text-decoration: none;
  color: $color-black;
}
